<h4><%= t(".header") %></h4>
<ul>
  <li><%= link_to t(".activities_dashboard"), admin_activities_path %></li>
  <li><%= link_to t(".groups_dashboard"), admin_groups_path %></li>
  <li><%= link_to t(".matches_dashboard"), admin_matches_path %></li>
  <li><%= link_to t(".admins_dashboard"), admin_admins_path %></li>
  <li><%= link_to t(".users_dashboard"), admin_users_path %></li>
  <li><%= link_to t(".cities_dashboard"), admin_cities_path %></li>
  <li><%= link_to t(".districts_dashboard"), admin_districts_path %></li>
</ul>
