<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <%= csrf_meta_tags %>

  <!-- Using CDN, no customization of foundation so not requiring gem -->
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.css' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js' %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <%= render 'shared/header' %>
  <%= render 'shared/admin/header' %>

  <% # rendering partial header if existing %>
  <%= render "admin/#{controller_name}/header" rescue nil %>

  <%= yield %>

  <%= render 'shared/footer' %>
</body>
</html>
